<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ExamHelper</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>




	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>BaseServlet</servlet-name>
		<servlet-class>com.yrw.servlet.BaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.yrw.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageUserServlet</servlet-name>
		<servlet-class>com.yrw.servlet.ManageUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.yrw.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>com.yrw.servlet.RegistServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorQuestionServlet</servlet-name>
		<servlet-class>com.yrw.servlet.ErrorQuestionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NoteServlet</servlet-name>
		<servlet-class>com.yrw.servlet.NoteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CollectionServlet</servlet-name>
		<servlet-class>com.yrw.servlet.CollectionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryServlet</servlet-name>
		<servlet-class>com.yrw.servlet.QueryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageUploadServlet</servlet-name>
		<servlet-class>com.yrw.servlet.ImageUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExamGuideServlet</servlet-name>
		<servlet-class>com.yrw.servlet.ExamGuideServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SystemNoticeServlet</servlet-name>
		<servlet-class>com.yrw.servlet.SystemNoticeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SquareAdImageUpload</servlet-name>
		<servlet-class>com.yrw.servlet.SquareAdImageUpload</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>SquareAdServlet</servlet-name>
    <servlet-class>com.yrw.servlet.SquareAdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExamRankingServlet</servlet-name>
    <servlet-class>com.yrw.servlet.ExamRankingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateLibraryServlet</servlet-name>
    <servlet-class>com.yrw.servlet.UpdateLibraryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeSubjectServlet</servlet-name>
    <servlet-class>com.yrw.servlet.ChangeSubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MaterImageUploadServlet</servlet-name>
    <servlet-class>com.yrw.servlet.MaterImageUploadServlet</servlet-class>
  </servlet>














	<error-page>

		<error-code>404</error-code>

		<location>/ErrorPage.jsp</location>

	</error-page>
	<error-page>

		<error-code>500</error-code>

		<location>/ErrorPage.jsp</location>

	</error-page>




	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BaseServlet</servlet-name>
		<url-pattern>/BaseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageUserServlet</servlet-name>
		<url-pattern>/ManageUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/RegistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorQuestionServlet</servlet-name>
		<url-pattern>/ErrorQuestionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoteServlet</servlet-name>
		<url-pattern>/NoteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CollectionServlet</servlet-name>
		<url-pattern>/CollectionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/QueryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageUploadServlet</servlet-name>
		<url-pattern>/ImageUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExamGuideServlet</servlet-name>
		<url-pattern>/ExamGuideServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SystemNoticeServlet</servlet-name>
		<url-pattern>/SystemNoticeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SquareAdImageUpload</servlet-name>
		<url-pattern>/SquareAdImageUpload</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>SquareAdServlet</servlet-name>
    <url-pattern>/SquareAdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExamRankingServlet</servlet-name>
    <url-pattern>/ExamRankingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateLibraryServlet</servlet-name>
    <url-pattern>/UpdateLibraryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeSubjectServlet</servlet-name>
    <url-pattern>/ChangeSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MaterImageUploadServlet</servlet-name>
    <url-pattern>/MaterImageUploadServlet</url-pattern>
  </servlet-mapping>



	<!-- 获取Spring容器 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 配置过滤器 -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 配置懒加载 -->
	<filter>
		<filter-name>openSessionInView</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>openSessionInView</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>